@use './variables' as *;

@mixin justify_width($colAlign: start, $rowAlign: start, $direction: row, $isInline: false) {
  @if ($isInline) {
    display: -ms-inline-flexbox;
    display: inline-flex;
    display: -webkit-inline-flex;
  } @else {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
  }

  @if ($rowAlign == between) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  } @else if ($rowAlign == around) {
    justify-content: space-around;
    -webkit-justify-content: space-around;
  } @else if ($rowAlign == center) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
  } @else if ($rowAlign == start) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  } @else if ($rowAlign == end) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  @if ($colAlign == center) {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } @else if ($colAlign == start) {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  } @else if ($colAlign == end) {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  } @else if ($colAlign == stretch) {
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  @if ($direction == row) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  } @else if ($direction == row-reverse) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  } @else if ($direction == column) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

@mixin mask_images($file, $color: '', $sizes: cover, $position: center, $repeat: no-repeat) {
  $urls: $file + '.svg';
  -webkit-mask-size: $sizes;
  mask-size: $sizes;
  -webkit-mask-repeat: $repeat;
  mask-repeat: $repeat;
  -webkit-mask-position: $position;
  mask-position: $position;
  -webkit-mask-image: url($urls);
  mask-image: url($urls);

  @if ($color != '') {
    background-color: $color;
  }
}